<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562896268466-gc4nr6g7jn0g6okh5pig3alug7d5rf5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562896268466-gc4nr6g7jn0g6okh5pig3alug7d5rf5n</string>
	<key>API_KEY</key>
	<string>AIzaSyAaYtAa-fC6aru9PWeGU8lQi1FOPbdpg3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>562896268466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project-ios.project-ios</string>
	<key>PROJECT_ID</key>
	<string>projectios-ab4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>projectios-ab4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562896268466:ios:925daa90f94f03c3c7edab</string>
</dict>
</plist>