<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb746008883871106</string>
      </array>
      </dict>
    </array>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <false/>
    <key>FacebookAppID</key>
    <string>746008883871106</string>
    <key>FacebookClientToken</key>
    <string>9aa5d76cdeb6ceeeb16bff74a4542190</string>
    <key>FacebookDisplayName</key>
    <string>projectios</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>googlechromes</string>
      <string>comgooglemaps</string>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<string>TRUE</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>FALSE</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSAllowsArbitraryLoadsForMedia</key>
        <true/>
        <key>NSAllowsArbitraryLoadsInWebContent</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>NSIncludesSubdomains</key>
            <true/>
            <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
            <false/>
        </dict>
        <key>facebook.com</key>
        <dict>
            <key>NSIncludesSubdomains</key>
            <true/>
            <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
            <false/>
        </dict>
        <key>fbcdn.net</key>
        <dict>
            <key>NSIncludesSubdomains</key>
            <true/>
            <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
            <false/>
        </dict>
    </dict>
	<key>UIAppFonts</key>
	<array>
		<string>FrutigerLTStd-UltraBlack.ttf</string>
		<string>FrutigerLTStd-Black.ttf</string>
		<string>FrutigerLTStd-Bold.ttf</string>
		<string>FrutigerLTStd-Light.ttf</string>
		<string>FrutigerLTStd-Roman.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>NavigationController_ObjectC</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
